<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        table, th, td { border: 1px solid black; }
    </style>

</head>
<body>

   <form class="container" action="" method="get">
       <div>
           <table>

               <tr th:each="list : ${list}">
                   <td><span th:text="${list.id}"></span></td>
                   <td><span th:text="${list.food_name}"></span></td>
                   <td><span th:text="${list.food_type}"></span></td>
               </tr>
           </table>
       </div>

   </form>
</body>
</html>